@charset "UTF-8";
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

:root {
  --active-color: #2196f3;
  --title-color: #212121;
  --white-color: #ffffff;
  --text-color: #757575;
  --bcg-color: #f5f4fa;
  --icon-color: #afb1b8;
  --bcg-hero: rgba(47, 48, 58, 0.4);
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --font-family-roboto: 'Roboto', sans-serif;
  --card-gap: 30px;
  --card-item: 1;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--card-gap) * -1);
  margin-top: calc(var(--card-gap) * -1);
}

.card-item {
  margin-left: var(--card-gap);
  margin-top: var(--card-gap);
  flex-basis: calc(100% / var(--card-item) - var(--card-gap));
}

body {
  font-family: var(--font-family-roboto);
  letter-spacing: 0.03em;
  background-color: var(--white-color);
  color: var(--text-color);
}

.no-scroll {
  overflow: hidden;
}

/* Контейнер */
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.section {
  padding: 60px 0;
}

@media (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.section__title {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  color: var(--title-color);
}

@media (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--animation);
  z-index: 90;
}

.burger-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
}

@media (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.burger-btn__icon {
  fill: currentColor;
}

.burger-btn:hover, .burger-btn:focus {
  color: var(--active-color);
}

.burger-btn .burger-btn__open {
  opacity: 1;
}

.burger-btn .burger-btn__close {
  opacity: 0;
}

.burger-btn.is-open .burger-btn__open {
  opacity: 0;
}

.burger-btn.is-open .burger-btn__close {
  opacity: 1;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  transform: translateX(100%);
  transition: transform 500ms ease-in;
  background-color: #ffffff;
  z-index: 2;
}

.mob-menu.is-open {
  transform: translateX(0);
}

.mob-nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: auto;
}

.mob-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-nav__link {
  color: currentColor;
}

.mob-nav__link--active {
  color: var(--active-color);
}

.mob-contact {
  font-size: 24px;
  line-height: 1.16;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-bottom: 64px;
}

.mob-contact__item:first-child {
  color: var(--active-color);
  margin-bottom: 32px;
}

@media (min-width: 480px) {
  .mob-contact__item:first-child {
    font-size: 34px;
    line-height: 1.17;
  }
}

.mob-soc {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: var(--active-color);
}

.mob-soc__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.button {
  display: block;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white-color);
  background-color: var(--active-color);
  cursor: pointer;
  letter-spacing: 0.06em;
  font-family: inherit;
  border: transparent;
  transition: background-color var(--animation);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:hover,
.button:focus {
  background: #188ce8;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  margin-right: -8px;
}

@media (min-width: 768px) {
  .filter-list {
    justify-content: center;
    margin-bottom: 15px;
  }
}

@media (min-width: 1200px) {
  .filter-list {
    margin-bottom: 35px;
  }
}

.filter-list__item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.filter-list__btn {
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-color);
  background-color: #f5f4fa;
  cursor: pointer;
  font-family: inherit;
  border: transparent;
  letter-spacing: 0.03em;
  box-shadow: none;
  transition: background-color var(--animation), color var(--animation), box-shadow var(--animation);
}

.filter-list__btn:hover, .filter-list__btn:focus {
  background-color: var(--active-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-form__title {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.modal-form__block {
  position: relative;
}

.modal-form__comment {
  margin-bottom: 20px;
}

.modal-form__check {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.modal-form__text {
  margin-left: 20px;
  font-size: 12px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

@media (min-width: 480px) {
  .modal-form__text {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .modal-form__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__link {
  margin-left: 4px;
  text-decoration-line: underline;
  color: var(--active-color);
  display: inline-block;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--animation);
}

.modal-form__input:focus {
  border-color: var(--active-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill var(--animation);
  transform: translateY(-50%);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--active-color);
}

.modal-form__input--texterea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  transition: border-color var(--animation);
}

.modal-form__input--texterea:focus {
  border-color: var(--active-color);
}

.modal-form__input--texterea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__icon--box {
  border-radius: 2px;
}

.modal-form__checkbox:checked + .modal-form__icon--box {
  fill: var(--active-color);
  background-color: var(--active-color);
}

.modal-form__icon--check,
.modal-form__icon--box {
  position: absolute;
  top: -2px;
  left: 3px;
  width: 16px;
  height: 15px;
}

@media (min-width: 1200px) {
  .modal-form__icon--check,
  .modal-form__icon--box {
    top: 3px;
  }
}

/* Лого */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
  text-decoration: none;
}

.logo__part {
  color: var(--active-color);
}

/* Главное меню */
.site-nav {
  display: none;
  margin-left: 93px;
}

@media (min-width: 768px) {
  .site-nav {
    display: flex;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  padding: 32px 0;
  position: relative;
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  transition: color var(--animation);
}

.site-nav__link::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: transparent;
  transition: background-color var(--animation);
}

.site-nav__link:visited {
  color: var(--title-color);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--active-color);
}

.site-nav__link:hover::after,
.site-nav__link:focus::after,
.site-nav__link--active::after {
  background-color: var(--active-color);
}

.site-nav__link.site-nav__link--active {
  color: var(--active-color);
}

.site-nav__link.site-nav__link--active:hover, .site-nav__link.site-nav__link--active:focus {
  color: var(--title-color);
}

.soc-net {
  display: flex;
  justify-content: center;
  color: var(--icon-color);
}

.soc-net__icon {
  fill: currentColor;
}

.soc-net__item {
  width: 44px;
  height: 44px;
}

.soc-net__item:not(:last-child) {
  margin-right: 10px;
}

.soc-net__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color var(--animation), color var(--animation);
}

.soc-net__link:hover, .soc-net__link:focus {
  background-color: var(--active-color);
  color: var(--white-color);
}

@media (max-width: 767.98px) {
  .subscribe {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .subscribe {
    margin-left: auto;
  }
}

@media (min-width: 768px) {
  .subscribe__form {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .subscribe__form {
    flex-direction: row;
  }
}

.subscribe__button {
  display: flex;
  align-items: center;
}

.subscribe__icon {
  margin-left: 10px;
}

.subscribe__input {
  padding: 15px 16px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
  background-color: transparent;
  color: white;
  transition: border-color var(--animation);
}

@media (min-width: 768px) {
  .subscribe__input {
    margin: 0 auto;
    width: 450px;
  }
}

@media (max-width: 1199.98px) {
  .subscribe__input {
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-right: 15px;
  }
}

.subscribe__input:focus {
  border-color: var(--active-color);
}

.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

/* Преймущества блок */
@media (min-width: 768px) {
  .benefits {
    --card-item: 2;
  }
}

@media (min-width: 1200px) {
  .benefits {
    --card-item: 4;
  }
}

.benefits__icon {
  display: flex;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--bcg-color);
  border-radius: 4px;
}

.benefits__svg {
  fill: var(--title-color);
}

.benefits__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  color: var(--title-color);
  line-height: 1.15;
  text-transform: uppercase;
}

.benefits__text {
  font-size: 14px;
  line-height: 1.7;
}

/* БЛОК КЛИЕНТЫ */
.client-list {
  --card-gap: 30px;
  --card-item: 2;
}

@media (min-width: 768px) {
  .client-list {
    --card-item: 3;
  }
}

@media (min-width: 1200px) {
  .client-list {
    --card-item: 6;
  }
}

.client-list__icon {
  fill: currentColor;
}

.client-list__item {
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border-color var(--animation);
}

.client-list__item:hover, .client-list__item:focus {
  border-color: var(--active-color);
}

.client-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  height: 100%;
  color: var(--icon-color);
  transition: color var(--animation);
}

.client-list__link:hover, .client-list__link:focus {
  color: var(--active-color);
}

/* Третий блок */
.team {
  background-color: #f5f4fa;
}

@media (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  .team__list {
    margin-left: -30px;
  }
}

.team__item {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .team__item {
    margin-left: 30px;
  }
}

.team__img {
  width: 100%;
}

.team__descr {
  padding: 30px 15px 24px 15px;
}

.team__name {
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__title {
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.footer {
  padding: 60px 0px;
  color: var(--white-color);
  background-color: #2f303a;
}

.footer__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1200px) {
  .footer__flex {
    flex-direction: row;
    align-items: baseline;
  }
}

@media (max-width: 1199.98px) {
  .footer__oneblcok {
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) {
  .footer__oneblcok {
    display: flex;
    align-items: baseline;
  }
}

@media (max-width: 767.98px) {
  .footer__addressandlogo {
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) {
  .footer__addressandlogo {
    margin-right: 165px;
  }
}

@media (min-width: 1200px) {
  .footer__addressandlogo {
    margin-right: 70px;
  }
}

.footer__logo {
  color: inherit;
}

@media (max-width: 1199.98px) {
  .footer__logo {
    text-align: center;
  }
}

.footer__title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

@media (max-width: 1199.98px) {
  .footer__title {
    text-align: center;
  }
}

.address {
  margin-top: 20px;
}

@media (max-width: 1199.98px) {
  .address__item {
    text-align: center;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

@media (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  transition: color var(--animation);
}

.address__link--start {
  color: rgba(255, 255, 255, 0.6);
}

.address__link:hover, .address__link:focus {
  color: var(--active-color);
}

.footer .soc-net__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
}

.footer .soc-net__link:hover, .footer .soc-net__link:focus {
  background-color: var(--active-color);
}

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .header {
    padding: 0;
  }
}

.header__flex, .header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

/* Почта и номер телефона */
.contacts {
  display: none;
  margin-left: auto;
}

@media (min-width: 768px) {
  .contacts {
    display: block;
  }
}

@media (min-width: 1200px) {
  .contacts {
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .contacts__item:first-child {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts__link {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  transition: color var(--animation);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--active-color);
}

.section-hero {
  padding: 118px 0px;
  background-color: #2f303a;
  background-image: linear-gradient(var(--bcg-hero), var(--bcg-hero)), url(../images/hero-480.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(var(--bcg-hero), var(--bcg-hero)), url(../images/hero-480@2x.jpg);
  }
}

@media (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(var(--bcg-hero), var(--bcg-hero)), url(../images/hero-768.jpg);
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(var(--bcg-hero), var(--bcg-hero)), url(../images/hero-768@2x.jpg);
  }
}

@media (min-width: 1200px) {
  .section-hero {
    padding: 200px 0px;
    background-image: linear-gradient(var(--bcg-hero), var(--bcg-hero)), url(../images/hero-1600.jpg);
    background-size: 1600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(var(--bcg-hero), var(--bcg-hero)), url(../images/hero-1600@2x.jpg);
  }
}

.section-hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  color: var(--white-color);
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .section-hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%) scale(1);
  max-width: 450px;
  width: 100%;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--animation);
}

@media (min-width: 768px) {
  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 1200px) {
  .modal {
    max-width: 528px;
    min-height: 581px;
  }
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--title-color);
}

@media (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal__icon--close {
  transition: fill var(--animation);
  fill: var(--title-color);
}

.modal__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__btn:focus .modal__icon--close,
.modal__btn:hover .modal__icon--close {
  fill: var(--active-color);
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.card-list {
  display: flex;
  flex-direction: column;
  margin: -15px;
}

@media (min-width: 768px) {
  .card-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.card-list__item {
  flex-basis: 100%;
  margin: 15px;
}

@media (min-width: 768px) {
  .card-list__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media (min-width: 1200px) {
  .card-list__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.card-list__img {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.card-list__img--img {
  width: 100%;
}

.card-list__wrap {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: transparent;
  box-shadow: none;
}

.card-list__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  color: var(--title-color);
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-list__subtitle {
  font-size: 16px;
  line-height: 1.88;
}

.card-list__text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  width: 100%;
  height: 100%;
  padding: 63px 24px 0 24px;
  font-size: 18px;
  line-height: 1.56;
  overflow: auto;
  color: var(--white-color);
  background: rgba(33, 150, 243, 0.9);
  transition: transform var(--animation);
}

.card-list__link:hover .card-list__text,
.card-list__link:focus .card-list__text {
  transform: translateY(0%);
}

.card-list__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: none;
  transition: box-shadow var(--animation);
}

.card-list__link:hover, .card-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* ВТОРОЙ БЛОК */
.working {
  display: none;
  padding-top: 0;
}

@media (min-width: 1200px) {
  .working {
    display: block;
  }
}

.working__list {
  display: flex;
}

.working__item {
  position: relative;
}

.working__text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
}

.working__item:not(:last-child) {
  margin-right: 30px;
}
/*# sourceMappingURL=main.css.map */