/* БЛОК КЛИЕНТЫ */
.client-list {
  --card-gap: 30px;
  --card-item: 2;
  @include mq(tab) {
    --card-item: 3;
  }
  @include mq(desk) {
    --card-item: 6;
  }

  &__icon {
    fill: currentColor;
  }
}
.client-list__item {
  border: 1px solid var(--icon-color);
  // color: var(--icon-color);
  border-radius: 4px;

  transition: border-color var(--animation);

  &:hover,
  &:focus {
    // color: var(--active-color);
    border-color: var(--active-color);
  }
}
.client-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 16px;
  padding-bottom: 16px;

  width: 100%;
  height: 100%;

  color: var(--icon-color);

  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--active-color);
  }
}
