.header {
  border-bottom: 1px solid #ececec;
  padding-top: 10px;
  padding-bottom: 10px;
  @include mq(tab) {
    padding: 0;
  }
  &__flex,
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
}
/* Почта и номер телефона */
.contacts {
  display: none;
  margin-left: auto;

  @include mq(tab) {
    display: block;
  }
  @include mq(desk) {
    display: flex;
  }
  &__item:first-child {
    @include mq(tab-only) {
      margin-bottom: 10px;
    }
  }
  &__item:not(:last-child) {
    @include mq(desk) {
      margin-right: 50px;
    }
  }
  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }
  &__link {
    display: flex;
    align-items: center;

    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;

    transition: color var(--animation);

    &:hover,
    &:focus {
      color: var(--active-color);
    }
  }
}
