.section-hero {
  padding: 118px 0px;

  background-color: #2f303a;
  background-image: linear-gradient(var(--bcg-hero), var(--bcg-hero)), url(../images/hero-480.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include mq(retina) {
    background-image: linear-gradient(var(--bcg-hero), var(--bcg-hero)),
      url(../images/hero-480@2x.jpg);
  }

  @include mq(tab) {
    background-image: linear-gradient(var(--bcg-hero), var(--bcg-hero)), url(../images/hero-768.jpg);
    background-size: cover;
    @include mq(retina) {
      background-image: linear-gradient(var(--bcg-hero), var(--bcg-hero)),
        url(../images/hero-768@2x.jpg);
    }
  }

  @include mq(desk) {
    padding: 200px 0px;
    background-image: linear-gradient(var(--bcg-hero), var(--bcg-hero)),
      url(../images/hero-1600.jpg);
    background-size: 1600px;
    @include mq(retina) {
      background-image: linear-gradient(var(--bcg-hero), var(--bcg-hero)),
        url(../images/hero-1600@2x.jpg);
    }
  }

  &__title {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    color: var(--white-color);
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @include mq(desk) {
      max-width: 696px;

      font-size: 44px;
      line-height: 1.36;
    }
  }
}
