// мобильное меню
.burger-btn {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  padding: 0;

  border: none;
  background-color: transparent;

  cursor: pointer;
  z-index: 10;
  @include mq(tab) {
    display: none;
  }
  &__icon {
    fill: currentColor;
  }

  &:hover,
  &:focus {
    color: var(--active-color);
  }
}
.burger-btn .burger-btn__open {
  opacity: 1;
}
.burger-btn .burger-btn__close {
  opacity: 0;
}
.burger-btn.is-open .burger-btn__open {
  opacity: 0;
}
.burger-btn.is-open .burger-btn__close {
  opacity: 1;
}
.mob-menu {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  padding: 48px 40px;

  transform: translateX(100%);
  transition: transform 500ms linear;

  background-color: #ffffff;

  z-index: 2;
}
.mob-menu.is-open {
  transform: translateX(0);
}
.mob-nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;

  color: var(--title-color);

  margin-bottom: auto;

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
  &__link {
    color: currentColor;
  }
  &__link--active {
    color: var(--active-color);
  }
}
.mob-contact {
  font-size: 24px;
  line-height: 1.16;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--text-color);

  margin-bottom: 64px;
  &__item:first-child {
    color: var(--active-color);

    margin-bottom: 32px;
    @include mq(mob) {
      font-size: 34px;
      line-height: 1.17;
    }
  }
}
.mob-soc {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: var(--active-color);

  &__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
