/* Контейнер */
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @include mq(mob) {
    width: 480px;
  }
  @include mq(tab) {
    width: 768px;
  }
  @include mq(desk) {
    width: 1200px;
  }
}
